.header-color{
  background: #005C97; 
  background: -webkit-linear-gradient(to right, #363795, #005C97); 
  background: linear-gradient(to right, #363795, #005C97); 
  
}

.landing-grid{
  background: #005C97; 
  background: -webkit-linear-gradient(to right, #363795, #005C97);
  background: linear-gradient(to right, #363795, #005C97); 

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.projects-grid{
  display: flex;
}

.avatar-img{
  height: 250px;
  padding-top: 5em;
  border-radius: 10px;
}

.contact-body{
  margin:auto;
  position: fixed;
  width: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2{
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto; 
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.about-right-col{
  background: black;
  opacity: 0.8;
  border-radius: 10px;
  color:white;
  padding: 2em;
}

.banner-text{
  background-color: black;
  opacity: 0.75;
  width: 75%;
  margin: auto;
  border-radius: 10px;

}

.banner-text h1{
  font-family: 'Anton', sans-serif;
  font-size: 66px;
  font-weight: bolder;
  color: #5274a1;
  text-align: center;
}

.banner-text hr{
  border-top: 5px dotted #5274a1;
  width: 50%;
  margin:auto;
}

.banner-text p{
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color: #5274a1;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: #5274a1;
  font-size: 5em;
  padding: 8px;
}
